* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.NavigationBar {
  height: 10vh;
  width: 100vw;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavItem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
  font-size: 2.5vw;
}
.HeadingName {
  font-family: "Sometype Mono", monospace;
}
.NavList {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-family: "Sometype Mono", monospace;
}
.NavList li {
  margin: 0px 70px;
}
.NavList li a {
  color: black;
  text-decoration: none;
}
.MainBody {
  background-color: #ffffff;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #6284ff 50%,
    #ff0000 100%
  );
}
.about {
  height: 45vh;
  width: 100vw;
  /* background-color: rgba(102, 51, 153, 0.278); */
  display: flex;
}
.about h3 {
  display: flex;
  justify-content: center;
}
.about .img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}
.about .info {
  height: 100%;
  width: 70%;
  font-size: 6rem;
}
.Project {
  height: 35vh;
  width: 100vw;
  font-size: 7rem;
  /* margin: 2vw; */
}
.Project h3 {
  display: flex;
  justify-content: center;
}
.Project ol {
  list-style: decimal inside;
}
.Achievement {
  height: 35vh;
  width: 100vw;
  font-size: 7rem;
  /* margin: 2vw; */
}
.Achievement h3 {
  display: flex;
  justify-content: center;
}
.Achievement ol {
  list-style: decimal inside;
}
.contact {
  height: 35vh;
  width: 100vw;
  font-size: 7rem;
  /* margin: 2vw; */
}
.contact h3 {
  display: flex;
  justify-content: center;
}
.contact ul {
  list-style: none inside;
}
